<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @post.name %>
</p>

<p>
  <b>Surname:</b>
  <%= @post.surname %>
</p>

<p>
  <b>Image:</b>
  <%= @post.image %>
</p>

<p>
  <b>Webpage:</b>
  <%= @post.webpage %>
</p>

<p>
  <b>Age:</b>
  <%= @post.age %>
</p>

<p>
  <b>Extra content:</b>
  <%= @post.extra_content %>
</p>

<p>
  <b>Height:</b>
  <%= @post.height %>
</p>


<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
